*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: none;
    
    font-size: var(--size-leitura-font);
    font-family: Arial, Helvetica, sans-serif;
    word-break: break-all;
    
    cursor: default;
    list-style: none;
    outline: none;
}

:root{
    --color-section-outline: black;
    --color-box-outline: gray;

    --color-boxTitle-background: #00995d;
    --color-boxTitle-font: #fff;

    --color-dropDown-background: white;
    --color-dropDown-outline: #B9D4AA;

    --color-inputHoverAndFocus-background: #D3ECCD;

    --size-leitura-font: 0.875rem;
    --size-titulo-font: 1.1rem;
    --size-legenda-font: 0.7rem;

    --size-checkBoxTiny: 1rem;
    --size-checkBoxMedium: 1rem;

    --weight-boxTitle-font: bold;
}

/*---------------------------------Utilitários---------------------------------*/
.flex-col{
    display: flex;
    flex-direction: column;
}

.flex-row{
    display: flex;
}

.flex-center{
    justify-content: center;
    align-items: center;
}

.flex-wrap{
 flex-wrap: wrap;   
}

.space-between{justify-content: space-between;}

.space-evenly{justify-content: space-evenly;}

.text-center{text-align: center;}

.tiny-text{font-size: var(--size-legenda-font);}

.expand{
    width: 100%;
    height: 100%;
}

.col-span-1{grid-column: auto / span 1;}
.col-span-2{grid-column: auto / span 2;}
.col-span-3{grid-column: auto / span 3;}
.col-span-4{grid-column: auto / span 4;}
.col-span-5{grid-column: auto / span 5;}
.col-span-6{grid-column: auto / span 6;}
.col-span-7{grid-column: auto / span 7;}
.col-span-8{grid-column: auto / span 8;}
.col-span-9{grid-column: auto / span 9;}
.col-span-10{grid-column: auto / span 10;}
.col-span-11{grid-column: auto / span 11;}
.col-span-12{grid-column: auto / span 12;}

/*---------------------------------Componentes reutilizáveis---------------------------------*/
.box *{font-size: inherit;}

.box-title{
    background-color: var(--color-boxTitle-background);
    color: var(--color-boxTitle-font);
    font-weight: var(--weight-boxTitle-font);
    padding: 0.2rem;
}

.box-content{padding: 0.5rem;}

.carimbo{min-height: 3rem;}

.checklist{gap: 0.25em;}

.checkitem{
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.checkitem input{display: none;}

.checkitem span{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    width: 1em;
    height: 1em;
    padding: 0.5em;
}

.checkitem span:hover{
    background-color: var(--color-inputHoverAndFocus-background);
    cursor: pointer;
}

.checkitem input:checked + span::after {
    content: "X";
    font-weight: 1000;
    font-size: 1em;
    color: black;
}

.dropdown-container {
    position: relative;
    display: inline-block;

    width: 100%;
}

.dropdown-container.flex-center > input, .dropdown-container.flex-center li{text-align: center;}

.dropdown-container.expand > input, .dropdown-container.expand li{
    width: 100%;
    height: 100%;
}

.dropdown-container > input {
    width: 100% !important;
}

.dropdown-container > ul{
    border: 1px solid var(--color-dropDown-outline);
    padding: 5px;
    width: 100%;
    max-width: 40dvw;
    min-width: 15dvw;
    max-height: 20dvh;
    
    overflow-y: auto;
    overflow-x: none;

    visibility: hidden;
    transition: opacity 0.3s ease;
    opacity: 0;
    position: absolute;
    transform: translate(-50%, 0%);
    top: 100%;
    left: 50%;
    z-index: 99999;
    background-color: var(--color-dropDown-background);

    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 0.5rem;
}

.dropdown-container > span {
    visibility:hidden; 
    position:absolute; 
    white-space:pre;
}

.dropdown-container > input:focus + ul{
   visibility: visible;
   opacity: 1;
}

.dropdown-container >ul li{
    padding: 5px;
    width: 100%;
    border-bottom: 1px solid var(--color-dropDown-outline);
}

.dropdown-container >ul li:hover{
    background-color: var(--color-inputHoverAndFocus-background);
    cursor: pointer;
}

/*---------------------------------Regras gerais---------------------------------*/
body{background-color: #d9d9d9;}

.folha-a4{
    width: 210mm;
    height: 297mm;
    justify-content: space-between;
    border: 1px solid black;
    padding: 1.5cm 1cm 3cm 1.5cm;
    background-color: white;
}

section{
    display: grid;
    grid-template-columns: repeat(12,1fr);
    gap: 1px;
    position: relative;
}

section > .box {
    outline: 1px solid var(--color-box-outline);
    position: relative;
}

input:hover, textarea:hover, input:focus, textarea:focus{
    background-color: var(--color-inputHoverAndFocus-background);
    cursor: pointer;
}

input.border {
    border: 1px solid black;
}

textarea{
    resize: none;
    text-align: center;
}

/*---------------------------------Regras Específicas---------------------------------*/

/*Seção de Contratante*/
#logo-cnpj-codigo{
    gap: 1px;
    padding: 0.1rem 1rem;
}

#logo-cnpj-codigo > img{
    width: 80%;
}

#logo-cnpj-codigo > figcaption {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

#titulo-unidade h1, #titulo-unidade input{font-size: var(--size-titulo-font);}

#setor-solicitante-data-ramal .box{gap: 1rem;}

#setor-solicitante-data-ramal .box-title{flex: 0 0 30%;}

#setor-solicitante-data-ramal input {flex: 1;}

/*Seção de Pagamento*/

#drop-prestadores, #drop-cnpj-cpf{
    min-height: 2rem;
}

#favorecido-cpf-cnpj .box-title{flex: 0 0 15%;}

#descricao-servico > textarea{height: 7rem;}

/*Seção de Carimbos de Conferência*/

#carimbo-gerencia-executiva{grid-column: 4 /span 6;}

footer{
    position: fixed;
    z-index: 9999;
    bottom: 0%;

    height: 5%;
    width: 100%;
    background-color: rgba(0,0, 0, 0.5);

    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 5px;
}

.menu-acoes{
    display: flex;
    margin-right: 5rem;
    gap: 3rem;
    height: 100%;
}

.menu-acoes li, .menu-acoes button{
    height: 100%;
}

.menu-acoes button{
    padding: 1px;
    width: 7dvw;
    border-radius: 3.5dvw;
}

.menu-acoes button:hover{
    cursor: pointer;
}

@media print{
    header, footer{
        display: none;
    }
}