*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: none;
    
    font-size: var(--tamanho-texto-leitura);
    font-family: Arial, Helvetica, sans-serif;
    word-break: break-all;
    
    cursor: default;
    list-style: none;
}

:root{
    --cor-section-line: black;
    --cor-div-inside-section-line: gray;

    --cor-wrapper-title-background: #00995d;
    --cor-wrapper-title-font: #fff;

    --cor-background-input-hover-and-focus: #f4f8f4;
    --cor-outline-dropdownlist: #d9d9d9;

    --tamanho-texto-leitura: 0.875rem;
    --tamanho-texto-titulo: 1.1rem;
    --tamanho-texto-legenda: 0.7rem;

    --tam-tiny-checkbox: 1rem;
    --tam-medium-checkbox: 1rem;

    --peso-texto-wrapper-title: bold;
}

body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    background-color: #d9d9d9;
}

.folha-a4{
    width: 210mm;
    height: 297mm;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    border: 1px solid black;
    padding: 1.5cm 1cm 3cm 1.5cm;

    background-color: white;
}

/*Section´s*/
section{
    display: grid;
    grid-template-columns: repeat(10,1fr);
    gap: 1px;

    position: relative;
}

#contratante{
    grid-template-columns: repeat(12,1fr);
    height: 18%;
}

#servico-pagamento{
    height: 50%;
    grid-template-rows: repeat(16,1fr);
}

#carimbos-conferencia, #carimbos-aprovacao{
    grid-template-columns: repeat(12,1fr);
}

#carimbos-conferencia{
    height: 15%;
}

#carimbos-aprovacao{
    height: 7.5%;
}

/*Div´s (box) das Section´s*/
section > div {
    outline: 1px solid var(--cor-div-inside-section-line);
    position: relative;
}

#logo-cnpj-codigo{
    gap: 1px;
    padding: 0.1rem 1rem;
}

#logo-cnpj-codigo > img{
    width: 80%;
}

#logo-cnpj-codigo > figcaption {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

#logo-cnpj-codigo > figcaption > p{
    font-size: var(--tamanho-texto-legenda);
}

#titulo-unidade h1, #unidade-input{
    font-size: var(--tamanho-texto-titulo);
}

#setor-solicitante-data-ramal{
    padding: 0 1rem;
    justify-content: space-evenly;
}

#setor-solicitante-data-ramal > div {
    display: flex;
    gap: 1rem;
    width: 100%;
}

#setor-solicitante-data-ramal > div > label {
    flex: 0 0 30%;
    text-align: center;
    padding: 2px;
    background-color: var(--cor-wrapper-title-background);
    color: var(--cor-wrapper-title-font);
    font-weight: var(--peso-texto-wrapper-title);
    font-size: var(--tamanho-texto-legenda);
}

#setor-solicitante-data-ramal > div > input {
    flex: 1;
}

#checklist-anexos .content{
    justify-content: center;
    padding: 0 0.3rem;
}

#checklist-anexos .title {
    font-size: var(--tamanho-texto-legenda);
}

#checklist-anexos > .content > label {
    font-size: var(--tamanho-texto-legenda);
}

#carimbo-gerencia-executiva{
    grid-column: 4 / span 6;
}

.col-span-1{grid-column: auto / span 1;}
.col-span-2{grid-column: auto / span 2;}
.col-span-3{grid-column: auto / span 3;}
.col-span-4{grid-column: auto / span 4;}
.col-span-5{grid-column: auto / span 5;}
.col-span-6{grid-column: auto / span 6;}
.col-span-7{grid-column: auto / span 7;}
.col-span-8{grid-column: auto / span 8;}
.col-span-9{grid-column: auto / span 9;}
.col-span-10{grid-column: auto / span 10;}

.row-span-1{grid-row: auto / span 1;}
.row-span-2{grid-row: auto / span 2;}
.row-span-3{grid-row: auto / span 3;}
.row-span-4{grid-row: auto / span 4;}
.row-span-5{grid-row: auto / span 5;}
.row-span-6{grid-row: auto / span 6;}

.flex-col{
    display: flex;
    flex-direction: column;
}

.flex-col-center{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    height: 100%;
}

.flex-row-center{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    height: 100%;
}

.centralize{
    justify-content: center;
    align-items: center;
    text-align: center;
}

/*Wrapper*/
.wrapper{
    display: flex;
    flex-direction: column;
}

.wrapper .title {
    display: flex;
    justify-content: center;
    align-items: center;

    background-color: var(--cor-wrapper-title-background);
    color: var(--cor-wrapper-title-font);
    padding: 0.1rem;
    font-weight: var(--peso-texto-wrapper-title);

    padding: 0.2rem 0.3rem;
}

.wrapper .content {
    flex: 1;
    padding: 0.5rem;
}

.wrapper.horizontal{
    flex-direction: row !important;
}

.wrapper.horizontal .title{
    padding: 0 1rem !important;
}

input:hover, textarea:hover{
    background-color: var(--cor-background-input-hover-and-focus);
    cursor: pointer;
}

input.border {
    border: 1px solid black;
}

input:focus, textarea:focus{
    background-color: var(--cor-background-input-hover-and-focus);
    font-size: var(--tamanho-texto-leitura);
    border: none;
    outline: none;
}

textarea{
    resize: none;
    text-align: center;
}

.checkitem input{
    display: none;
}

.checkitem span{
    display: inline-block;
    border: 1px solid black;
}

.checkitem span:hover{
    background-color: var(--cor-background-input-hover-and-focus);
    cursor: pointer;
}

.checkitem.tiny {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    padding: 1px;
}

.checkitem.tiny span{
    width: var(--tam-tiny-checkbox);
    height: var(--tam-tiny-checkbox);
}

.dropdown-container {
    position: relative;
    display: inline-block;

    width: 100%;
    max-width: 20dvw;
}

.dropdown-container > ul{
    border: 1px solid var(--cor-outline-dropdownlist);
    padding: 5px;
    width: 100%;
    max-height: 20dvh;
    min-width: 15dvw;
    
    overflow-y: auto;
    overflow-x: none;

    display: none;
    position: absolute;
    transform: translate(-50%, 0%);
    left: 50%;
    z-index: 99999;
    background-color: white;

    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2)
}

.dropdown-container > span {
    visibility:hidden; 
    position:absolute; 
    white-space:pre;
}

.dropdown-container > input:focus + ul{
    display: block;
}

.dropdown-container >ul li{
    padding: 5px;
    width: 100%;
    border-bottom: 1px solid var(--cor-outline-dropdownlist);
}

.dropdown-container >ul li:hover{
    background-color: var(--cor-background-input-hover-and-focus);
    cursor: pointer;
}